# Archivos de configuración y credenciales
*.env
*.secret
*.config

# Directorios de herramientas comunes
.idea/
.vscode/
__pycache__/
node_modules/

# Archivos generados por Kubernetes
*.log
*.pid
*.sock
*.out
*.err
*.tmp

# Archivos de Terraform (si usas infraestructura como código)
*.tfstate
*.tfstate.backup
.terraform/

# Claves privadas (por seguridad)
id_rsa*
*.pem
*.crt
*.key
